<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFV6cp5f-MEiLb6k9qvIwxUqGruH2nU_k</string>
	<key>GCM_SENDER_ID</key>
	<string>810592131577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NhemNhem.NhanMaSuyVong</string>
	<key>PROJECT_ID</key>
	<string>nhanmasuyvong</string>
	<key>STORAGE_BUCKET</key>
	<string>nhanmasuyvong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810592131577:ios:ac11d0e3be3a6951544528</string>
	<key>DATABASE_URL</key>
	<string>https://nhanmasuyvong-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>